#hidden
{
display: none;
}

.hidden
{
display: none;
}

#upload 
{
height: 10%; 
width: 15%;
display: block;
width: ;
background: purple; 
color: red; 
float: right;
margin: auto;
border-radius: 60px; 
text-align: center; 
} 

#confirm
{
height: 10%; 
width: 15%;
display: block;
width: ;
background: yellow; 
color: red; 
float: right;
margin: auto;
border-radius: 60px; 
text-align: center; 
}


#header
{
width: 100%;
height: 10%;
background: grey;
color: grey;
margin: 0%;
border-radius: 60px;
opacity: 0.3;
filter: alpha(opacity=30);
pointer-events: none;
}

.imgedit
{ 
width: 100%;
height: 75%;
background: turquoise;
color: turquoise;
margin-left: 0%;
border-radius: 60px;
}

h1
{
font-size: 100%;
text-align: center;
color: white;
margin: auto;
} 

h2
{
font-size: 100%;
text-align: center;
color: white;
margin: 25%;
}

p
{
font-size: 200%;
position: absolute;
text-align: center;
color: white;
margin-top: 5%;
}