.hidden
{
display: none;
}

#header
{
width: 100%;
height: 10%;
background: grey;
color: grey;
margin: 0%;
border-radius: 60px;
opacity: 0.8;
filter: alpha(opacity=80);
}


#cambtn 
{
position: relative;
height: 100%; 
width: 15%;
display: block;
background: lime; 
color: lime; 
float: right;
margin-right: 0%;
border-radius: 60px; 
text-align: center; 
} 

#new
{
position: relative;
height: 100%; 
width: 25%;
display: block;
background: black; 
color: black; 
float: left;
margin-left: 0%;
border-radius: 60px; 
text-align: center; 
}

#popular
{
position: relative;
height: 100%; 
width: 25%;
display: block;
background: black; 
color: black; 
float: left;
margin-left: 0%;
border-radius: 60px; 
text-align: center; 
}

#random
{
position: relative;
height: 100%; 
width: 25%;
display: block;
background: black; 
color: black; 
float: left;
margin-left: 0%;
border-radius: 60px; 
text-align: center; 
}

.imgedit
{ 
position: relative;
width: 100%;
height: 75%;
background: turquoise;
color: turquoise;
margin-left: 0%;
border-radius: 60px;
}

h1
{
font-size: 10px;
text-align: center;
color: white;
margin-top: auto;
} 

h2
{
font-size: 100%;
text-align: center;
color: white;
margin: 25%;
}

p
{
font-size: 200%;
position: relative;
text-align: center;
color: black;
margin-top: 5%;
} 

#camera 
{
	display: inline-block;
	width: 80%; 
	height: 80%;
} 

#poll
{
	position: relative;
	display: inline-block;
	margin: auto;
}