/*

html, body 
{
	overflow-x: hidden;
}
body 
{
	position: relative; 
	width: 95%; 
	height: 99%;
} 
*/

#hidden 
{
	display: none; 
} 

.hidden 
{
	display: none; 
} 

.imgcap
{
width: 35em;
height: 35em;
background: turquoise;
color: turquoise;
margin: 0%;
border-radius: 60px;
}

.imgedit {
background: none repeat scroll 0 0 black;
border-radius: 60px;
color: black;
height: 35em;
margin: 0;
width: 35em;
}

.toolbox 
{
	width: 35em; 
	height: 5em; 
	background: brown; 
	color: brown; 
	margin: 0%; 
	border-radius: 60px; 
} 

.toolbox_disabled
{
	width: 35em; 
	height: 5em; 
	background: grey; 
	color: grey; 
	margin: 0%; 
	border-radius: 60px; 
	opacity: 0.3;
    filter: alpha(opacity=30); 
    pointer-events: none; 
} 


h1
{
	font-size: 100%; 
	text-align: center; 
	color: white; 
	margin: auto;  
}

p
{
	font-size: 200%; 
	position: absolute; 
	text-align: center; 
	color: white;  
	margin-top: 5%; 
}