html, body 
{
	overflow-x: hidden;
}
body 
{
	position: relative; 
	width:100%;
}

#hidden 
{
	display: none; 
} 

.hidden 
{
	display: none; 
} 

.imgcap 
{
	width: 100%; 
	height: 70%; 
	background: turquoise; 
	color: turquoise;
	margin: 0%; 
	border-radius: 60px; 
}

.imgedit 
{
	width: 100%; 
	height: 70%; 
	background: black; 
	color: black;
	margin: 0%; 
	border-radius: 60px; 
}

.toolbox 
{
	width: 100%; 
	height: 10%; 
	background: brown; 
	color: brown; 
	margin: 0%; 
	border-radius: 60px; 
} 

.toolbox_disabled
{
	width: 100%; 
	height: 10%; 
	background: grey; 
	color: grey; 
	margin: 0%; 
	border-radius: 60px; 
	opacity: 0.3;
    filter: alpha(opacity=30); 
    pointer-events: none; 
} 


h1
{
	font-size: 100%; 
	text-align: center; 
	color: white; 
	margin-top: 5%;  
}

p
{
	font-size: 300%; 
	position: absolute; 
	text-align: center; 
	color: white;  
	margin-top: 40%;
}