#hidden 
{
	display: none; 
} 

.hidden 
{
	display: none; 
} 

.imgcap 
{
	width: 900px; 
	height: 1200px; 
	background: pink;
}

.imgedit 
{
	width: 675px; 
	height: 900px; 
}

.toolbox 
{
	width: 675px; 
	height: 300px; 
	background: black; 
	color: black; 
}